<h1>Listing employees</h1>

<table>
  <thead>
  <tr>
    <th>Rate</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @employees.each do |employee| %>
      <tr>

        <td><%= sprintf("$%.2f", employee.rate) %></td>
        <td><%= employee.name %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Employee', new_employee_path %>

<%= link_to 'Save Employees to Disk', save_to_disk_employees_path %>